<div class="col-xs-12" ng-controller="advertiserListCtrl">
    <div class="alert alert-success" ng-show="status == 'success'">{{confirmationMessage}}<span class="pull-right glyphicon glyphicon-ok" ng-click="removeConfirmation()"></span></div>
    <div class="pull-right">
        <h4 class="custom-margin"><button type="button" class="btn btn-s btn-primary" ng-click="newAdvertiser()">New Advertiser</button></h4>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-6 col-md-3" ng-repeat="advertiser in advertisers">
        <div class="thumbnail">
            <div class="caption">
                <h3><a ui-sref="advertiserDetails({ id: advertiser.id })">{{advertiser.name}}</a></h3>
                <p>{{advertiser.city}}</p>
            </div>
        </div>
    </div>

</div>